<div class="container border border-success p-4"><h1>Make a new article</h1></div>

<%= render 'form', article: @article %>

<div class="container d-flex justify-content-center"><%= link_to 'Back to articles', articles_path, class: "btn btn-dark" %> </div>
